obj/Animation.o
obj/Game.o
.vscode/c_cpp_properties.json
obj/GameCoordinates.o
obj/GameObject.o
obj/Position.o
obj/SDLSpriteCache.o
Footsketball
obj/SDLKeyboardControl.o
doc/ClassDiagram.dia.autosave
.vscode/ipch/
doc/ClassDiagram.dia~
obj/Scene.o
obj/StateControlled.o
obj/AnimationVoid.o
obj/FootsketPlayer.o
obj/StateVoid.o
obj/FootsketTeam.o
obj/FootsketMatch.o
obj/FootsketTeamCabuenes.o
obj/FootsketTeamInmaculada.o
obj/GameSystem.o
obj/FootsketBall.o
obj/FPSCounter.o
obj/FPStateControlled.o
obj/SDLMatchOverlay.o
obj/FBStateNormal.o
